body {
  padding-top: 65px;
}
#app {
  color: #0017ec;
  font-family: 'Roboto Slab', serif;
}
h1 {
  font-family: 'Unica One', cursive;
  text-transform: uppercase;
  letter-spacing: .1em;
  padding-top: .5em;
  text-align: center;
  font-size: 4vw;
}
h2 {
  font-size: 3vw;
  text-transform: uppercase;
  font-family: 'Unica One', cursive;
  text-align: center;
  padding: 0.5em 0.2em;
}
h3 {
  text-transform: uppercase;
  font-family: 'Unica One', sans-serif;
  font-size: 3vw;
  text-align: center;
  padding: 0.25em 0;
}
h4 {
  text-align: center;
  font-size: 1.5vw;
  padding: 0.5em 0;
}
h5 {
  text-align: center;
  font-size: 2vw;
  padding: 0.35em;
}
ul {
  font-size: 1.25vw;
  line-height: 2vw;
  text-align: center;
}
em {
  font-weight: bolder;
}
input::placeholder {
  color: white;
}
textarea::placeholder {
  color: white;
}
figure {
  text-align: center;
  font-size: 1em;
  line-height: 1.5em;
}
figcaption {
  color: black;
  font-family: 'Unica One', sans-serif;
}
section {
  padding: 3em 0;
}
.text {
  font-size: 1.5vw;
  text-align: center;
  line-height: 2vw;
}
.subheading {
  font-size: 3vw;
  font-family: 'Roboto Slab', serif;
  text-align: center;
  width: 50%;
}
.a-reset {
  text-decoration: none;
}
.shake:hover {
  animation: shake 1s linear;
}
@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }
  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }
  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}
@media screen and (max-width: 767px) {
  ul {
    font-size: 4vw;
    line-height: 5vw;
  }
  h1 {
    font-size: 6vw;
  }
  h2 {
    font-size: 6vw;
  }
  h3 {
    font-size: 5vw;
  }
  h4 {
    font-size: 4.5vw;
  }
  h5 {
    font-size: 4.5vw;
    line-height: 5vw;
  }
  section {
    padding: 1em;
  }
  .subheading {
    font-size: 4vw;
  }
  .text {
    font-size: 4vw;
    line-height: 5vw;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  ul {
    font-size: 3vw;
    line-height: 5vw;
  }
  h1 {
    font-size: 5vw;
  }
  h2 {
    font-size: 5vw;
  }
  h3 {
    font-size: 4vw;
  }
  h4 {
    font-size: 3.5vw;
  }
  h5 {
    font-size: 3.5vw;
    line-height: 3vw;
  }
  section {
    padding: 1em;
  }
  .text {
    font-size: 3vw;
    line-height: 4vw;
  }
}
