body {
  padding-top: 65px;
}
#app {
  color: #0017ec;
  font-family: 'Roboto Slab', serif;
}
h1 {
  font-family: 'Unica One', cursive;
  font-size: 3em;
  text-transform: uppercase;
  letter-spacing: .1em;
  padding-top: .5em;
}
h2 {
  font-size: 2em;
  font-family: 'Roboto Slab', serif;
}
h3 {
  text-transform: uppercase;
  font-size: 2em;
  font-family: 'Unica One', cursive;
  text-align: center;
  padding-bottom: 1em;
}
h4 {
  text-transform: uppercase;
  font-family: 'Unica One', sans-serif;
  font-size: 1.5em;
}
h5 {
  font-size: 1.25em;
  padding: .25em;
}
em {
  font-weight: bolder;
}
input::placeholder {
  color: white;
}
textarea::placeholder {
  color: white;
}
