/*
 * Colors
 */

/*
 * App
 */
#footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
#footer-text {
  width: 75%;
  padding: 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
#footer-text p {
  line-height: 150%;
  text-align: center;
}
.footer-decoration {
  height: 5px;
  width: 50px;
  background-color: yellow;
  margin-top: 1em;
}
#footer-text h1, #footer-text h2 {
  text-align: center;
}
.footer-logo {
  width: 80px;
}
#logo-wrapper ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
#logo-wrapper {
  width: 100%;
  margin: 1em;
}
.logo-list-item {
  padding: 1em;
}
@-webkit-keyframes fadeIn {
    from {
      background: transparent;
    }
    to {
      background: rgba(0,23,236,0.87);
    }
}
@keyframes fadeIn {
    from {
      background: transparent;
    }
    to {
      background: rgba(0,23,236,0.87);
    }
}
#contact-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position:fixed;
  padding:0;
  margin:0;
  top:65px;
  left:0;
  width: 100%;
  height: 100%;
  -webkit-animation: fadeIn 100ms linear forwards;
          animation: fadeIn 100ms linear forwards;
}
#gradient {
  position: absolute;
  background: -webkit-gradient(linear, left top, right top, from(rgba(0,23,236,0.5)),color-stop(50%, rgba(0,23,236,1)),to(rgba(0,23,236,1)));
  background: linear-gradient(to right, rgba(0,23,236,0.5) 0%,rgba(0,23,236,1) 50%,rgba(0,23,236,1) 100%);
  top: 10%;
  border-radius: .5em;
  width: 50%;
  height: 65%;
}
#contact-form-header {
  margin: 0 auto;
  text-align: center;
  padding: 1em;
}
#contact-form-header h3 {
  padding-top: 0.15em;
  padding-bottom: 1em;
  color: #ffd500;
}
#contact-form-header p {
  font-family: 'Roboto', sans-serif;
  font-size: 0.75em;
  color: #fff;
}
#contact-form-field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.input-form {
  width: 70%;
  padding: 1em;
  border: 0;
  border-bottom: 1px white solid;
  background-color: transparent;
}
.textarea-form {
  width: 70%;
  height: 150px;
  margin-top: 1em;
  padding: 1em;
  border: 1px white solid;
  background-color: transparent;
  resize: none;
}
#btn-group {
  margin-top: 1em;
}
.btn {
  text-transform: uppercase;
  padding: 0.5em 1em;
  margin: 1em 2em;
  border: 1px white solid;
  background-color: transparent;
}
.btn-send {
  background-color: white;
  color: #0017EC;
}
.btn-cancel {
  color: white;
}
.contact-mail-link {
  color:  #0017ec;
  font-family: 'Unica One', cursive;
  text-decoration: none;
  text-transform: uppercase;
  border: 1px #0017ec solid;
  border-radius: 0.2em;
  padding: .3em 1em;
  background-color: transparent;
  letter-spacing: .1em;
  font-size: 1em;
  margin-right: 1em;
  cursor: pointer;
}
.contact-mail-link-icon {
  background-color: transparent;
  cursor: pointer;
  border: none;
}
.contact-mail-link-icon:hover {
  color: #ffd500;
}
.links ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}
.links-list-item {
  padding: .5em;
}
.links {
  width: 100%;
  margin-top: 2em;
  padding: 1em;
  background-color: #e0e0e0;
}
.links-list-item a {
  color: black;
}
.links-list-item a:hover {
  color: #ffd500;
}
.main-header-logo__picto:hover {
  fill: #ffd500;
}
#header-img-container {
  height: 500px;
  position: relative;
  margin-bottom: 2em;
}
#header-img {
  height: 100%;
  background-image: url('/img/jul.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100% auto;
}
#header-img-titles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 30%;
  left: 10%;
}
#header-img-titles-decoration {
  height: 5px;
  width: 50px;
  background-color: #ffd500;
  margin-top: 1em;
}
#half-circle {
  position: absolute;
  top: 0;
  left: 150px;
  width: 150px;
  height: 80px;
}
.header-circle {
  position: absolute;
  border-bottom: 3px solid #fff;
  border-left: 3px solid #fff;
  border-right: 3px solid #fff;
  border-bottom-left-radius: 250px;
  border-bottom-right-radius: 250px;
}
#header-first-circle {
  height: 10px;
  width: 20px;
  left: 70px;
}
#header-second-circle {
  height: 25px;
  width: 50px;
  left: 55px;
}
#header-third-circle {
  height: 40px;
  width: 80px;
  left: 40px;
}
#header-fourth-circle {
  height: 55px;
  width: 110px;
  left: 25px;
}
#header-fifth-circle {
  height: 70px;
  width: 140px;
  left: 10px;
}
@media screen and (max-width: 770px) {
  #header-img-titles {
    left: 5%;
  }
}
@media screen and (max-width: 640px) {
  #header-img-container {
    height: 200px;
  }
  #header-img-titles {
    display: none;
  }
}
#contact-nav, #contact-nav-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
#contact-nav {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
  height: 65px;
  width: 100%;
  position: fixed;
  z-index: 2001;
  top: 0;
}
#contact-nav-info {
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.contact-nav-contact-icon {
    color:  gray;
}
.contact-nav-info-item {
  padding: 0em .5em;
}
#contact-nav-info-item-star {
  color: #ffd500;
  font-size: 2em;
}
#contact-nav-info-item-jobTitle {
  padding-right: 0;
}
#contact-nav-info-item-location {
  padding-left: .2em;
}
#contact-nav-info-item-name, #contact-nav-info-item-location {
  border-right: 1px solid #ffd500;
}

@media screen and (max-width: 640px) {
  #contact-nav {
    height: 50px;
    margin: 0;
    background-color: #e0e0e0;
  }
  #contact-nav-info {
    display: none;
  }
  #contact-nav-contact {
    display: none;
  }
}
#bridge {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2em;
  line-height: 150%;
}
.bridge-fa {
  color: #ffd500;
  margin-bottom: 0.3em;
}

#bridge p:nth-last-of-type(1) {
  color: black;
  font-family: 'Roboto', sans-serif;
  font-size: 1.25em;
  margin-bottom: 1em;
}
#bridge-decoration {
  height: 5px;
  width: 50px;
  background-color: #ffd500;
  margin: 1em;
}
#competences {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #ffd500;
  padding: 3em;
}
#competences-summary, #competences-description  {
  text-align: center;
  width: 50%;
  font-size: 1.25em;
}
#competences-summary {
  line-height: 150%;
}
#competences-description {
  color: black;
  font-size: 1em;
  font-family: 'Roboto', sans-serif;
  line-height: 1.5em;
}
#competences-decoration {
  height: 5px;
  width: 50px;
  background-color: white;
  margin: 1em;
}
.competences-backlink {
  color: black;
  font-weight: bolder;
}
.competences-backlink:hover {
  color: #0017ec;
  font-weight: bolder;
}
#realisations {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 2em;
  background-color: #e0e0e0;
}
#realisations-card-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
}
.realisation-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 2em;
}
.realisation-card-logo {
  color: gray;
  margin: 0.5em;
}
.realisation-card-location,
.realisation-card-functionality-label,
.realisation-card-techno,
.realisation-card-functionality-title
 {
  color: black;
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
}
.realisation-card-functionality,
.realisation-card-title {
  margin: 1em;
  text-align: center;
  line-height: 1.3em;
}
.realisation-card-title {
  color: black;
  line-height: 1.25em;
}
#realisation-decoration {
  height: 5px;
  width: 50px;
  background-color: #0017ec;
}
.realisation-card-techno {
  text-align: center;
  line-height: 1.25em;
}
#reconversion-description {
  margin: 0 auto;
  width: 80%;
}
#reconversion {
  background-color: #ffd500;
  padding: 2em;
}
#reconversion-reason-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
#reconversion-reason-decoration {
  height: 5px;
  width: 50px;
  margin-top: 2em;
  background-color: #FFF;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
#reconversion-intro {
  padding: 1em;
  line-height: 130%;
  text-align: center;
}
.reconversion-reason {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1em;
}
.reconversion-reason span {
  text-transform: uppercase;
  font-family: 'Unica One', sans-serif;
  font-size: 2em;
  margin-bottom: .15em;
}
.reconversion-reason ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.reconversion-reason ul li {
  font-family: 'Roboto', sans-serif;
  padding: .2em;
  color: black;
}
#reconversion-img-container {
  height: 500px;
  position: relative;
}
#reconversion-img {
  height: 100%;
  background-image: url('/img/cravate.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100% auto;
}
#reconversion-img-titles {
  /*margin: 0 auto;*/
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  top: 30%;
}
#reconversion-img-titles h1 {
  color: #ffd500;
}
#reconversion-img-titles h3 {
  color: white;
  font-size: 1.5em;
}
#reconversion-img-titles-decoration {
  height: 5px;
  width: 50px;
  background-color: #FFF;
  margin-top: 2em;
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}
#reconversion-hashtag {
  position: absolute;
  text-transform: uppercase;
  color: white;
  font-family: 'Unica One', cursive;
  bottom: 10%;
  left: 15%;
}
.circle {
  position: absolute;
  border-top: 5px solid #ffd500;
  border-right: 5px solid #ffd500;
  border-top-right-radius: 250px;
  bottom: 0;
}
#first-circle {
  height: 10px;
  width: 10px;
}
#second-circle {
  height: 30px;
  width: 30px;
}
#third-circle {
  height: 50px;
  width: 50px;
}
#fourth-circle {
  height: 70px;
  width: 70px;
}
#fifth-circle {
  height: 90px;
  width: 90px;
}
@media screen and (max-width: 770px) {
  #reconversion-img-titles {
    left: 5%;
  }
}
@media screen and (max-width: 640px) {
  #reconversion-img-container {
    height: 200px;
  }
  #reconversion-img-titles {
    display: none;
  }
}
#techno-card-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 2em;
}
#techno {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 80%;
  position: relative;
}
#techno-decoration {
  position: absolute;
  height: 5px;
  width: 50px;
  top: 40%;
  background-color: #ffd500;
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}
.techno-card {
  text-align: center;
}
.techno-card-list {
  color: black;
  font-family: 'Roboto', sans-serif;
  line-height: 150%;
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}body {
  padding-top: 65px;
}
#app {
  color: #0017ec;
  font-family: 'Roboto Slab', serif;
}
h1 {
  font-family: 'Unica One', cursive;
  font-size: 3em;
  text-transform: uppercase;
  letter-spacing: .1em;
  padding-top: .5em;
}
h2 {
  font-size: 2em;
  font-family: 'Roboto Slab', serif;
}
h3 {
  text-transform: uppercase;
  font-size: 2em;
  font-family: 'Unica One', cursive;
  text-align: center;
  padding-bottom: 1em;
}
h4 {
  text-transform: uppercase;
  font-family: 'Unica One', sans-serif;
  font-size: 1.5em;
}
h5 {
  font-size: 1.25em;
  padding: .25em;
}
em {
  font-weight: bolder;
}
input::-webkit-input-placeholder {
  color: white;
}
input:-ms-input-placeholder {
  color: white;
}
input::-ms-input-placeholder {
  color: white;
}
input::placeholder {
  color: white;
}
textarea::-webkit-input-placeholder {
  color: white;
}
textarea:-ms-input-placeholder {
  color: white;
}
textarea::-ms-input-placeholder {
  color: white;
}
textarea::placeholder {
  color: white;
}

/*# sourceMappingURL=app.css.map*/