#alert {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 80px;
  width: 100%;
}
#alert-wrapper{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 3px #d6e9c6 solid;
  border-radius: .25em;
  color: #3c763d;
  background-color: #dff0d8;
  padding: 1em;
  position: relative;
  -webkit-box-shadow: 1px 1px 5px 0px #31708f;
          box-shadow: 1px 1px 5px 0px #31708f;
}
#alert-title {
  padding: 0;
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: .5em;
}
.btn-close-alert:active,
.btn-close-alert:focus {
  outline: 0;
  border: none;
  -moz-outline-style: none;
}
.btn-close-alert {
  background-color: transparent;
  position: absolute;
  border: none;
  color: #3c763d;
  top: .25em;
  right: 0;
}
.btn-close-alert:hover {
  -webkit-animation: spin 1s linear;
          animation: spin 1s linear;
  cursor: pointer;
}
/*
 * Colors
 */

/*
 * App
 */
#footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
#footer-text {
  width: 75%;
  padding: 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
#footer-text p {
  line-height: 150%;
  text-align: center;
  font-size: 2vw;
}
.footer-decoration {
  height: 5px;
  width: 50px;
  background-color: yellow;
  margin-top: 1em;
}
#footer-text h1, #footer-text h2 {
  text-align: center;
}
.footer-logo {
  width: 80px;
}
#logo-wrapper ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
#logo-wrapper {
  width: 100%;
  margin: 1em;
}
.logo-list-item {
  padding: 1em;
}
#footer-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
  margin-top: 2em;
  padding: 1em 0;
  background-color: #e0e0e0;
}
#credits {
  font-family: 'Roboto', sans-serif;
  font-size: .8em;
  color: black;
  line-height: normal;
}
@media screen and (max-width: 768px) {
  #credits {
    margin-left: 1em;
    line-height: 1.75em;
  }
  #footer-text {
    padding: 1em;
    width: 100%;
  }
  #footer-text p {
    font-size: 4vw;
  }
}
#contact-form-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position:fixed;
  padding:0;
  margin:0;
  top:65px; /* Starts the form under the navbar */
  width: 100%;
  height: 100%;
  -webkit-animation: fadeIn 100ms linear forwards;
          animation: fadeIn 100ms linear forwards;
}
#contact-form-modal {
  position: relative;
  /* margin-top: 1em;*/
  background-color: #0017ec;
  border-radius: .5em;
  width: 100%;
  height: 100%%;
  /* box-shadow: 1px 1px 20px 2px #000;*/
}
#contact-form-header-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1em;
}
#contact-form-header-title h3 {
  padding-top: 0.15em;
  padding-bottom: 1em;
  color: #ffd500;
}
#contact-form-header-title p {
  font-family: 'Roboto', sans-serif;
  font-size: 3vw;
  color: #fff;
}
#contact-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.input-form {
  width: 70%;
  padding: 1em;
  border: 0;
  border-bottom: 1px white solid;
  background-color: transparent;
  color: #fff;
}
.input-form:focus {
  outline: 0;
}
.textarea-form {
  width: 70%;
  height: 150px;
  margin-top: 1em;
  padding: 1em;
  border: 1px white solid;
  background-color: transparent;
  resize: none;
  color: #fff;
}
#btn-group {
  margin-top: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.btn {
  text-transform: uppercase;
  padding: 0.5em 1em;
  margin: 1em 2em;
  border: 1px white solid;
  background-color: transparent;
  cursor: pointer;
  color: white;
}
.btn:hover,
.btn:active,
.btn:focus {
  background-color: white;
  color: #0017EC;
}

.btn-close-modal {
  position: absolute;
  right: -2em;
  top: -1em;
  border: none;
  color: #ffd500;
}
.btn-close-modal:active,
.btn-close-modal:focus {
  outline: 0;
  border: none;
  -moz-outline-style: none;
}
.btn-close-modal:hover {
  background-color: transparent;
  color: #e5bf00;
  -webkit-animation: spin 1s linear;
          animation: spin 1s linear;
}

@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(90deg);
    transform:rotate(90deg);
  }
}

@keyframes spin {
  100% {
    -webkit-transform: rotate(90deg);
    transform:rotate(90deg);
  }
}
@-webkit-keyframes fadeIn {
    from {
      background-color: rgba(0,0,0,0);
    }
    to {
      background-color: rgba(0,0,0,0.4);
    }
}
@keyframes fadeIn {
    from {
      background-color: rgba(0,0,0,0);
    }
    to {
      background-color: rgba(0,0,0,0.4);
    }
}
@media screen and (max-width: 768px) {
  #contact-form-modal {
    width: 100%;
    border-radius: 0;
    margin: 0;
    -webkit-box-shadow: none;
            box-shadow: none;
    height: 75%;
  }
  .input-form, .textarea-form {
    width: 85%;
  }
  .textarea-form {
    height: 100%;
  }
}
@media screen and (max-width: 320px) {
  #contact-form-modal {
    height: 100%;
  }
}
.contact-mail-link {
  color:  #0017ec;
  font-family: 'Unica One', cursive;
  text-decoration: none;
  text-transform: uppercase;
  border: 1px #0017ec solid;
  border-radius: 0.2em;
  padding: .3em 1em;
  background-color: transparent;
  letter-spacing: .1em;
  font-size: 1em;
  cursor: pointer;
}
.contact-mail-link:hover {
  color: white;
  background-color: #0017ec;
}
.contact-mail-link-icon {
  background-color: transparent;
  cursor: pointer;
  border: none;
}
@media screen and (max-width: 768px) {
  #contact-mail-link-text {
    display: none;
  }
}
.links {
  text-align: center;
  color: black;
  font-family: 'Roboto', sans-serif;
}
.links ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.links-list-item {
  padding: .5em;
}
.links-list-item {
  color: black;
}
.links-list-item:hover,
.main-header-logo__picto:hover {
  -webkit-animation: shake 1s linear;
          animation: shake 1s linear;
}
.links-list-item-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
#header-img-container {
  height: 50vw;
  position: relative;
}
#header-img {
  height: 100%;
  background-image: url('/img/jul.jpg');
  background-repeat: no-repeat;
  background-size: 100% auto;
}
#header-img-titles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 30%;
  left: -15vw;
}
#header-img-titles-decoration {
  height: 5px;
  width: 50px;
  background-color: #ffd500;
  margin-top: 1em;
}
#half-circle {
  position: absolute;
  top: 0;
  left: 150px;
  width: 150px;
  height: 80px;
}
.header-circle {
  position: absolute;
  border-bottom: 3px solid #fff;
  border-left: 3px solid #fff;
  border-right: 3px solid #fff;
  border-bottom-left-radius: 250px;
  border-bottom-right-radius: 250px;
}
#header-first-circle {
  height: 10px;
  width: 20px;
  left: 70px;
}
#header-second-circle {
  height: 25px;
  width: 50px;
  left: 55px;
}
#header-third-circle {
  height: 40px;
  width: 80px;
  left: 40px;
}
#header-fourth-circle {
  height: 55px;
  width: 110px;
  left: 25px;
}
#header-fifth-circle {
  height: 70px;
  width: 140px;
  left: 10px;
}

@media screen and (max-width: 768px) {
  #header-img-container {
    height: 400px;
  }
  #header-img-titles {
    /*display: none;*/
  }
  #half-circle {
    left: 0;
  }
  #header-fifth-circle, #header-fourth-circle {
    display: none;
  }
}
@media screen and (max-width: 500px) {
  #header-img-container {
    height: 200px;
  }
}
#contact-nav, #contact-nav-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
#contact-nav {
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
  height: 65px;
  width: 100%;
  position: fixed;
  z-index: 2001;
  top: 0;
  left: 0;
  right: 0;
}
#contact-nav-info {
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.contact-nav-contact-icon {
    color:  gray;
}
.contact-nav-info-item {
  font-size: 2vw;
  padding: 0em .5em;
}
#contact-nav-info-item-star {
  color: #ffd500;

}
#contact-nav-info-item-jobTitle {
  padding-right: 0;
}
#contact-nav-info-item-location {
  padding-left: .2em;
}
#contact-nav-info-item-name, #contact-nav-info-item-location {
  border-right: 1px solid #ffd500;
}

@media screen and (max-width: 768px) {
  .contact-nav-info-item {
    font-size: 2.5vw;
  }
  #contact-nav-info-item-location, #contact-nav-info-item-jobTitle {

  }
  #contact-nav-contact {
    display: none;
  }
  .contact-nav-info-item {
    padding: 0 .25em;
  }
}

@media screen and (max-width: 375px) {
  #contact-nav-info {

  }
  #contact-nav-info-item-location, #contact-nav-info-item-jobTitle {
    display: none;
  }
  #contact-nav-contact {
    display: none;
  }
  .contact-nav-info-item {
    font-size: 4vw;
    padding: 0 .3em;
  }
}
#bridge {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2em;
  line-height: 150%;
}
.bridge-fa {
  color: #ffd500;
  margin-bottom: 0.3em;
}

#bridge p:nth-last-of-type(1) {
  color: black;
  font-family: 'Roboto', sans-serif;
  font-size: 1.25vw;
  margin-bottom: 1em;
  text-align: center;
}
#bridge-decoration {
  height: 5px;
  width: 50px;
  background-color: #ffd500;
  margin: 1em;
}
@media screen and (max-width: 1024px) {
  #bridge p:nth-last-of-type(1) {
    font-size: 4vw;
  }
}
#competences {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #ffd500;
  padding: 1em;
}
#competences-summary {
  line-height: 5vw;
}
#competences-description {
  text-align: center;
  width: 70%;
  font-size: 2vw;
  color: black;
  font-family: 'Roboto', sans-serif;
  line-height: 1.35em;
}
#competences-decoration {
  height: 5px;
  width: 50px;
  background-color: white;
  margin: 1em;
}
.competences-backlink {
  color: black;
  font-weight: bolder;
}
.competences-backlink:hover {
  color: #0017ec;
  font-weight: bolder;
}
@media screen and (max-width: 1024px) {
  #competences-summary, #competences-description  {
    width: 100%;
    font-size: 4vw;
  }
}
#realisations {
  background-color: #e0e0e0;
  text-align: center;
}
#realisations-card-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
}
.realisation-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 2em;
  width: 30%;
}
.realisation-card-logo {
  color: gray;
  margin: 0.5em;
}

.realisation-card-functionality-label,
.realisation-card-techno,
.realisation-card-functionality-title
 {
  color: black;
  font-family: 'Roboto', sans-serif;
}
.realisation-card-functionality,
.realisation-card-title {
  margin: 0.5em;
  text-align: center;
  line-height: 1.3em;
}
.realisation-card-title {
  color: black;
  line-height: 1.25em;
  font-size: 1.5vw;
}
.realisation-card-location {
  font-size: 2vw;
}
#realisation-decoration {
  height: 5px;
  width: 50px;
  background-color: #0017ec;
}

@media screen and (max-width: 1024px) {
  #realisations-card-wrapper  {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .realisation-card {
    width: 100%;
    margin: 0.5em;
  }
  .realisation-card-title,
  .realisation-card-location {
    font-size: 4vw;
  }
}
#reconversion-description {
  margin: 0 auto;
  width: 80%;
}
#reconversion {
  background-color: #ffd500;
  padding: 2em;
}
.reconversion-reason h4 {
  padding-bottom: 0;
}
#reconversion-reason-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
#reconversion-reason-decoration {
  height: 5px;
  width: 50px;
  margin-top: 2em;
  background-color: #FFF;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
#reconversion-intro {
  padding: 1em;
  line-height: 130%;
  text-align: center;
  font-size: 2vw;
}
.reconversion-reason {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1em;
}
.reconversion-reason span {
  text-transform: uppercase;
  font-family: 'Unica One', sans-serif;
  font-size: 2em;
  margin-bottom: .15em;
}
.reconversion-reason ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 1.25em;
}
.reconversion-reason ul li {
  font-family: 'Roboto', sans-serif;
  padding: .2em;
  color: black;
}
@media screen and (max-width: 1024px) {
  #reconversion {
    padding: 2em 0;
  }
  #reconversion-description {
    width: 100%;
  }
  #reconversion-reason-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #reconversion-reason-decoration {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  #fifth-circle, #fourth-circle {
    display: none;
  }
  #reconversion-intro {
    font-size: 4vw;
    padding: 0.25em;
  }
}
#reconversion-img-container {
  height: 500px;
  position: relative;
}
#reconversion-img {
  height: 100%;
  background-image: url('/img/cravate.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100% auto;
}
#reconversion-img-titles {
  /*margin: 0 auto;*/
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  top: 30%;
}
#reconversion-img-titles h1 {
  color: #ffd500;
}
#reconversion-img-titles h3 {
  color: white;
}
#reconversion-img-titles-decoration {
  height: 5px;
  width: 50px;
  background-color: #FFF;
  margin-top: 2em;
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}
#reconversion-hashtag {
  position: absolute;
  text-transform: uppercase;
  color: white;
  font-family: 'Unica One', cursive;
  bottom: 10%;
  left: 15%;
}
.circle {
  position: absolute;
  border-top: 5px solid #ffd500;
  border-right: 5px solid #ffd500;
  border-top-right-radius: 250px;
  bottom: 0;
}
#first-circle {
  height: 10px;
  width: 10px;
}
#second-circle {
  height: 30px;
  width: 30px;
}
#third-circle {
  height: 50px;
  width: 50px;
}
#fourth-circle {
  height: 70px;
  width: 70px;
}
#fifth-circle {
  height: 90px;
  width: 90px;
}
@media screen and (max-width: 640px) {
  #reconversion-img-container {
    height: 200px;
  }
  #reconversion-title {

  }
  #reconversion-img-titles-decoration {
    display: none;
  }
  #reconversion-hashtag {
    left: 20%;
    bottom: 5%;
  }
}
#techno-card-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
#techno {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 80%;
  position: relative;
  margin-bottom: 0.5em;
}
#techno-decoration {
  position: absolute;
  height: 5px;
  width: 50px;
  top: 50%;
  background-color: #ffd500;
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}
.techno-card {
  text-align: center;
}
.techno-card-list {
  color: black;
  font-family: 'Roboto', sans-serif;
}
@media screen and (max-width: 1024px) {
  #techno-card-wrapper {

  }
  #techno {
    width: 100%;
  }
  #techno-decoration {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}body {
  padding-top: 65px;
}
#app {
  color: #0017ec;
  font-family: 'Roboto Slab', serif;
}
h1 {
  font-family: 'Unica One', cursive;
  text-transform: uppercase;
  letter-spacing: .1em;
  padding-top: .5em;
  text-align: center;
  font-size: 6vw;
}
h2 {
  font-size: 4.5vw;
  text-transform: uppercase;
  font-family: 'Unica One', cursive;
  text-align: center;
  padding: 0.5em 0.2em;
}
h3 {
  text-transform: uppercase;
  font-family: 'Unica One', sans-serif;
  font-size: 3vw;
  text-align: center;
  padding: 0.25em 0;
}
h4 {
  text-align: center;
  font-size: 1.5vw;
  padding: 0.5em 0;
}
h5 {
  text-align: center;
  font-size: 2vw;
  padding: 0.35em;
}
ul {
  font-size: 1.25vw;
  line-height: 2vw;
  text-align: center;
}
em {
  font-weight: bolder;
}
input::-webkit-input-placeholder {
  color: white;
}
input:-ms-input-placeholder {
  color: white;
}
input::-ms-input-placeholder {
  color: white;
}
input::placeholder {
  color: white;
}
textarea::-webkit-input-placeholder {
  color: white;
}
textarea:-ms-input-placeholder {
  color: white;
}
textarea::-ms-input-placeholder {
  color: white;
}
textarea::placeholder {
  color: white;
}
figure {
  text-align: center;
  font-size: 1em;
  line-height: 1.5em;
}
figcaption {
  color: black;
  font-family: 'Unica One', sans-serif;
}
section {
  padding: 2em 0;
}
.text {
  font-size: 3vw;
  line-height: 1vw;
}
.subheading {
  font-size: 5vw;
  font-family: 'Roboto Slab', serif;
  text-align: center;
  width: 50%;
}
.a-reset {
  text-decoration: none;
}
.shake:hover {
  -webkit-animation: shake 1s linear;
          animation: shake 1s linear;
}
@-webkit-keyframes shake {
  10%, 90% {
    -webkit-transform: translate3d(-1px, 0, 0);
            transform: translate3d(-1px, 0, 0);
  }
  20%, 80% {
    -webkit-transform: translate3d(2px, 0, 0);
            transform: translate3d(2px, 0, 0);
  }
  30%, 50%, 70% {
    -webkit-transform: translate3d(-4px, 0, 0);
            transform: translate3d(-4px, 0, 0);
  }
  40%, 60% {
    -webkit-transform: translate3d(4px, 0, 0);
            transform: translate3d(4px, 0, 0);
  }
}
@keyframes shake {
  10%, 90% {
    -webkit-transform: translate3d(-1px, 0, 0);
            transform: translate3d(-1px, 0, 0);
  }
  20%, 80% {
    -webkit-transform: translate3d(2px, 0, 0);
            transform: translate3d(2px, 0, 0);
  }
  30%, 50%, 70% {
    -webkit-transform: translate3d(-4px, 0, 0);
            transform: translate3d(-4px, 0, 0);
  }
  40%, 60% {
    -webkit-transform: translate3d(4px, 0, 0);
            transform: translate3d(4px, 0, 0);
  }
}
@media screen and (max-width: 1024px) {
  ul {
    font-size: 3.75vw;
    line-height: 5vw;
  }
  h2 {
    font-size: 6vw;
  }
  h3 {
    font-size: 5vw;
  }
  h4 {
    font-size: 4.5vw;
  }
  h5 {
    font-size: 4vw;
    line-height: 3vw;
  }
  section {
    padding: 0.5em;
  }
}

/*# sourceMappingURL=app.css.map*/