#footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#footer-text {
  width: 75%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#footer-text p {
  line-height: 150%;
  text-align: center;
}
.footer-decoration {
  height: 5px;
  width: 50px;
  background-color: #ffd500;
  margin-top: 1em;
}
.footer-logo {
  width: 80px;
}
#logo-wrapper ul {
  display: flex;
  justify-content: center;
}
.logo-list-item {
  padding: 1em;
}
#footer-footer {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  width: 100%;
  margin-top: 2em;
  padding: 1em 0;
  background-color: #e0e0e0;
  position: relative;
}
.scroll-up {
  position: absolute;
  top: -13px;
  color: gray;
}
.scroll-up:hover {
  color: black;
}
.title-footer {
  color: black;
  font-family: 'Roboto', sans-serif;
  text-align: left;
  padding: 0;
  font-size: 1.3vw;
  padding-bottom: 1vw;
}
#credits-list {
  font-family: 'Roboto', sans-serif;
  font-size: 1vw;
  color: black;
  line-height: normal;
  text-align: left;
}
@media screen and (max-width: 768px) {
  #credits-list {
    font-size: 3vw;
  }
  #footer-text {
    padding: 1em;
  }
  .title-footer {
    font-size: 3.5vw;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .title-footer {
    font-size: 3vw;
  }
  #credits-list {
    font-size: 2.5vw;
  }
}
