#footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#footer-text {
  width: 75%;
  padding: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#footer-text p {
  line-height: 150%;
  text-align: center;
  font-size: 2vw;
}
.footer-decoration {
  height: 5px;
  width: 50px;
  background-color: yellow;
  margin-top: 1em;
}
#footer-text h1, #footer-text h2 {
  text-align: center;
}
.footer-logo {
  width: 80px;
}
#logo-wrapper ul {
  display: flex;
  justify-content: center;
}
#logo-wrapper {
  width: 100%;
  margin: 1em;
}
.logo-list-item {
  padding: 1em;
}
#footer-footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  margin-top: 2em;
  padding: 1em 0;
  background-color: #e0e0e0;
}
#credits {
  font-family: 'Roboto', sans-serif;
  font-size: .8em;
  color: black;
  line-height: normal;
}
@media screen and (max-width: 768px) {
  #credits {
    margin-left: 1em;
    line-height: 1.75em;
  }
  #footer-text {
    padding: 1em;
    width: 100%;
  }
  #footer-text p {
    font-size: 4vw;
  }
}
