#techno-card-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#techno {
  display: flex;
  justify-content: space-around;
  width: 80%;
  position: relative;
  margin-bottom: 0.5em;
}
#techno-decoration {
  position: absolute;
  height: 5px;
  width: 50px;
  top: 50%;
  background-color: #ffd500;
  transform: rotate(135deg);
}
.techno-card {
  text-align: center;
}
.techno-card-list {
  color: black;
  font-family: 'Roboto', sans-serif;
}
@media screen and (max-width: 1024px) {
  #techno-card-wrapper {

  }
  #techno {
    width: 100%;
  }
  #techno-decoration {
    transform: rotate(90deg);
  }
}
