.links {
  color: black;
  font-family: 'Roboto', sans-serif;
}
.links ul {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.links-list-item {
  padding-right: .5em;
}
.links-list-item {
  color: black;
}
.links-list-item:hover,
.main-header-logo__picto:hover {
  animation: shake 1s linear;
}
.links-list-item-group {
  display: flex;
  justify-content: center;
  align-items: center;
}
