.links ul {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.links-list-item {
  padding: .5em;
}
.links {
  width: 100%;
  margin-top: 2em;
  padding: 1em;
  background-color: #e0e0e0;
}
.links-list-item a {
  color: black;
}
.links-list-item a:hover {
  color: #ffd500;
}
.main-header-logo__picto:hover {
  fill: #ffd500;
}
