#competences {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffd500;
  padding: 1em;
}
#competences-summary {
  line-height: 5vw;
}
#competences-description {
  text-align: center;
  width: 70%;
  font-size: 2vw;
  color: black;
  font-family: 'Roboto', sans-serif;
  line-height: 1.35em;
}
#competences-decoration {
  height: 5px;
  width: 50px;
  background-color: white;
  margin: 1em;
}
.competences-backlink {
  color: black;
  font-weight: bolder;
}
.competences-backlink:hover {
  color: #0017ec;
  font-weight: bolder;
}
@media screen and (max-width: 1024px) {
  #competences-summary, #competences-description  {
    width: 100%;
    font-size: 4vw;
  }
}
