#realisations {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2em;
  background-color: #e0e0e0;
}
#realisations-card-wrapper {
  display: flex;
  justify-content: space-around;
}
.realisation-card {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.realisation-card-techno {
  text-align: center;
}
