#contact-form-wrapper {
  display: flex;
  justify-content: center;
  position:fixed;
  padding:0;
  margin:0;
  top:65px; /* Starts the form under the navbar */
  width: 100%;
  height: 100%;
  animation: fadeIn 100ms linear forwards;
}
#contact-form-modal {
  position: relative;
  margin-top: 1em;
  background-color: #0017ec;
  border-radius: .5em;
  width: 50%;
  height: 65%;
  box-shadow: 1px 1px 20px 2px #000;
}
#contact-form-header-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em;
}
#contact-form-header-title h3 {
  padding-top: 0.15em;
  padding-bottom: 1em;
  color: #ffd500;
}
#contact-form-header-title p {
  font-family: 'Roboto', sans-serif;
  font-size: 0.75em;
  color: #fff;
}
#contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.input-form {
  width: 70%;
  padding: 1em;
  border: 0;
  border-bottom: 1px white solid;
  background-color: transparent;
}
.textarea-form {
  width: 70%;
  height: 150px;
  margin-top: 1em;
  padding: 1em;
  border: 1px white solid;
  background-color: transparent;
  resize: none;
}
#btn-group {
  margin-top: 1em;
  display: flex;
}
.btn {
  text-transform: uppercase;
  padding: 0.5em 1em;
  margin: 1em 2em;
  border: 1px white solid;
  background-color: transparent;
  cursor: pointer;
  color: white;
}
.btn:hover {
  background-color: white;
  color: #0017EC;
}

.btn-close-modal {
  position: absolute;
  right: -2em;
  top: -1em;
  border: none;
  color: #ffd500;
}
.btn-close-modal:active,
.btn-close-modal:focus {
  outline: 0;
  border: none;
  -moz-outline-style: none;
}
.btn-close-modal:hover {
  background-color: transparent;
  color: #e5bf00;
  animation: spin 1s linear;
}

@keyframes spin {
  100% {
    -webkit-transform: rotate(90deg);
    transform:rotate(90deg);
  }
}
@keyframes fadeIn {
    from {
      background-color: rgba(0,0,0,0);
    }
    to {
      background-color: rgba(0,0,0,0.4);
    }
}
@media screen and (max-width: 768px) {
  #contact-form-modal {
    width: 100%;
    border-radius: 0;
    margin: 0;
    box-shadow: 0;
  }
  .input-form, .textarea-form {
    width: 85%;
  }
  .textarea-form {
    height: 100%;
  }
}
