#contact-form-wrapper {
  display: flex;
  justify-content: center;
  position:fixed;
  padding:0;
  margin:0;
  top:65px; /* Starts the form under the navbar */
  width: 100%;
  height: 100%;
  animation: fadeIn 100ms linear forwards;
}
#contact-form-modal {
  position: relative;
  background-color: #0017ec;
  width: 100%;
  height: 100%;
}
#contact-form-header-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em;
}
#contact-form-header-title h3 {
  padding-top: 0.15em;
  padding-bottom: 1em;
  color: #ffd500;
}
#contact-form-header-title h4 {
  font-family: 'Roboto', sans-serif;
  font-size: 1.5vw;
  color: #fff;
}
#contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.input-form {
  width: 70%;
  border: 0;
  border-bottom: 1px #fff solid;
}
.input-form:focus,
.textarea-form {
  outline: 0;
}
.input-form,
.textarea-form,
.btn {
  font-size: 1vw;
  color: #fff;
  background-color: transparent;
  width: 70%;
  padding: 1em;
}
.textarea-form {
  height: 150px;
  margin-top: 1em;
  resize: none;
  border: 1px #fff solid;
}
#btn-group {
  margin-top: 1em;
  display: flex;
}
.btn {
  text-transform: uppercase;
  padding: 0.5em 1em;
  margin: 1em 2em;
  border: 1px white solid;
}
.btn:hover,
.btn:active,
.btn:focus {
  background-color: white;
  color: #0017EC;
}
.btn,
.btn-close-modal {
  cursor: pointer;
}
.btn-close-modal {
  position: absolute;
  right: 2vw;
  top: 1.5vw;
  border: none;
  color: #ffd500;
  background-color: transparent;
  font-size: 1.5vw;
}
.btn-close-modal:active,
.btn-close-modal:focus {
  outline: 0;
  border: none;
  -moz-outline-style: none;
}
.btn-close-modal:hover {
  background-color: transparent;
  color: #e5bf00;
  animation: spin 1s infinite linear;
}

@keyframes spin {
  100% {
    -webkit-transform: rotate(90deg);
    transform:rotate(90deg);
  }
}
@keyframes fadeIn {
    from {
      background-color: rgba(0,0,0,0);
    }
    to {
      background-color: rgba(0,0,0,0.4);
    }
}
@media screen and (max-width: 768px) {
  #contact-form-modal {
    width: 100%;
    border-radius: 0;
    margin: 0;
    box-shadow: none;
  }
  #contact-form-header-title h3 {
    font-size: 6vw;
  }
  #contact-form-header-title h4 {
    font-size: 3vw;
  }
  .btn,
  .input-form,
  .textarea-form {
    font-size: 3vw;
  }
  .input-form, .textarea-form {
    width: 85%;
  }
  .textarea-form {
    height: 100%;
  }
  .btn-close-modal {
    font-size: 3vw;
    right: 1.5vw;
  }
}
