#bridge {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2em;
  line-height: 150%;
}
.bridge-fa {
  color: #ffd500;
  margin-bottom: 0.3em;
}

#bridge p:nth-last-of-type(1) {
  color: black;
  font-family: 'Roboto', sans-serif;
  font-size: 1.25vw;
  margin-bottom: 1em;
  text-align: center;
}
#bridge-decoration {
  height: 5px;
  width: 50px;
  background-color: #ffd500;
  margin: 1em;
}
@media screen and (max-width: 1024px) {
  #bridge p:nth-last-of-type(1) {
    font-size: 4vw;
  }
}
