#contact-nav, #contact-nav-info {
  display: flex;
}
#contact-nav {
  justify-content: space-between;
  align-items: center;
  margin: 1em;
}
#contact-nav-info {
  justify-content: space-around;
  align-items: center;
}
.contact-nav-contact-icon {
    color:  gray;
}
.contact-nav-info-item {
  padding: 0em .5em;
}
#contact-nav-info-item-star {
  color: #ffd500;
  font-size: 2em;
}
#contact-nav-info-item-jobTitle {
  padding-right: 0;
}
#contact-nav-info-item-location {
  padding-left: .2em;
}
#contact-nav-info-item-name, #contact-nav-info-item-location {
  border-right: 1px solid #ffd500;
}
.contact-mail-link {
  display: inline-block;
  color:  #0017ec;
  background-color: transparent;
  font-family: 'Unica One', cursive;
  text-decoration: none;
  text-transform: uppercase;
  border: 1px #0017ec solid;
  border-radius: 0.2em;
  padding: .3em 1em;
  background-color: transparent;
}

@media screen and (max-width: 640px) {
  #contact-nav {
    height: 50px;
    margin: 0;
    background-color: #e0e0e0;
  }
  #contact-nav-info {
    display: none;
  }
  #contact-nav-contact {
    display: none;
  }
}
