#contact-nav, #contact-nav-info {
  display: flex;
}
#contact-nav {
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  height: 65px;
  width: 100%;
  position: fixed;
  z-index: 2001;
  top: 0;
  left: 0;
  right: 0;
}
#contact-nav-info {
  justify-content: space-around;
  align-items: center;
}
.contact-nav-contact-icon {
    color:  gray;
}
.contact-nav-info-item {
  padding: 0em .5em;
}
#contact-nav-info-item-star {
  color: #ffd500;
  font-size: 2em;
}
#contact-nav-info-item-jobTitle {
  padding-right: 0;
}
#contact-nav-info-item-location {
  padding-left: .2em;
}
#contact-nav-info-item-name, #contact-nav-info-item-location {
  border-right: 1px solid #ffd500;
}

@media screen and (max-width: 768px) {
  #contact-nav-info {
    font-size: 1em;
  }
  #contact-nav-info-item-location, #contact-nav-info-item-jobTitle {
    display: none;
  }
  #contact-nav-contact {
    display: none;
  }
  .contact-nav-info-item {
    padding: 0 .25em;
  }
}

@media screen and (max-width: 320px) {
  #contact-nav-info {
    font-size: 0.80em;
  }
  #contact-nav-info-item-location, #contact-nav-info-item-jobTitle {
    display: none;
  }
  #contact-nav-contact {
    display: none;
  }
  .contact-nav-info-item {
    padding: 0 .3em;
  }
}
