#header-img-container {
  height: 500px;
  position: relative;
  margin-bottom: 2em;
}
#header-img {
  height: 100%;
  background-image: url('/img/jul.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100% auto;
}
#header-img-titles {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 30%;
  left: 5%;
}
#header-img-titles-decoration {
  height: 5px;
  width: 50px;
  background-color: #ffd500;
  margin-top: 1em;
}
#half-circle {
  position: absolute;
  top: 0;
  left: 150px;
  width: 150px;
  height: 80px;
}
.header-circle {
  position: absolute;
  border-bottom: 3px solid #fff;
  border-left: 3px solid #fff;
  border-right: 3px solid #fff;
  border-bottom-left-radius: 250px;
  border-bottom-right-radius: 250px;
}
#header-first-circle {
  height: 10px;
  width: 20px;
  left: 70px;
}
#header-second-circle {
  height: 25px;
  width: 50px;
  left: 55px;
}
#header-third-circle {
  height: 40px;
  width: 80px;
  left: 40px;
}
#header-fourth-circle {
  height: 55px;
  width: 110px;
  left: 25px;
}
#header-fifth-circle {
  height: 70px;
  width: 140px;
  left: 10px;
}
@media screen and (max-width: 770px) {
  #header-img-titles {
    left: 5%;
  }
}
@media screen and (max-width: 640px) {
  #header-img-container {
    height: 200px;
  }
  #header-img-titles {
    display: none;
  }
  #half-circle {
    left: 0;
  }
  #header-fifth-circle, #header-fourth-circle {
    display: none;
  }
}
